<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>390001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{184,125}}</string>
                <key>sourceSize</key>
                <string>{184,127}</string>
            </dict>
            <key>390002.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{78,57}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{78,57}}</string>
                <key>sourceSize</key>
                <string>{84,65}</string>
            </dict>
            <key>390003.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,129},{107,109}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{107,109}}</string>
                <key>sourceSize</key>
                <string>{109,111}</string>
            </dict>
            <key>390004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{128,127}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,127}}</string>
                <key>sourceSize</key>
                <string>{128,129}</string>
            </dict>
            <key>390005.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,238},{76,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,98}}</string>
                <key>sourceSize</key>
                <string>{76,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>barrier_source.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94177c752314a2b30d70b31a6a70cb45$</string>
            <key>textureFileName</key>
            <string>barrier_source.pvr.ccz</string>
        </dict>
    </dict>
</plist>
