<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EWui_frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,1569},{436,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,74}}</string>
                <key>sourceSize</key>
                <string>{436,74}</string>
            </dict>
            <key>EWui_frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,1569},{431,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,48}}</string>
                <key>sourceSize</key>
                <string>{431,48}</string>
            </dict>
            <key>HAui_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,2008},{48,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,37}}</string>
                <key>sourceSize</key>
                <string>{48,37}</string>
            </dict>
            <key>HAui_bigarrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,1940},{76,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,60}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>HAui_frame_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,953},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>HAui_frame_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,966},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>HAui_frame_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{1831,952},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>HAui_frame_violet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,869},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>HAui_frame_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,855},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>HIui_frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1569},{473,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,384}}</string>
                <key>sourceSize</key>
                <string>{473,384}</string>
            </dict>
            <key>HIui_frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,1569},{449,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,59}}</string>
                <key>sourceSize</key>
                <string>{449,59}</string>
            </dict>
            <key>HIui_frame_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1569},{456,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,370}}</string>
                <key>sourceSize</key>
                <string>{456,370}</string>
            </dict>
            <key>HIui_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,662},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>HIui_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,2002},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>HIui_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1605,2002},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>HIui_icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,2002},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>HIui_icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,2002},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>SEui_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1569},{473,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,314}}</string>
                <key>sourceSize</key>
                <string>{473,314}</string>
            </dict>
            <key>SEui_frame_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,17},{456,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,298}}</string>
                <key>sourceSize</key>
                <string>{456,298}</string>
            </dict>
            <key>backspaceui_iconframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1831,1049},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>heroskill_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,1569},{437,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,136}}</string>
                <key>sourceSize</key>
                <string>{437,136}</string>
            </dict>
            <key>heroskill_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1132},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>heroskill_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1100},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>heroui_classframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1985,475},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>heroui_dividingline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2041,17},{461,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,5}}</string>
                <key>sourceSize</key>
                <string>{461,5}</string>
            </dict>
            <key>heroui_experiencebar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,707},{359,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,34}}</string>
                <key>sourceSize</key>
                <string>{359,34}</string>
            </dict>
            <key>heroui_exprienceframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,1569},{369,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,45}}</string>
                <key>sourceSize</key>
                <string>{369,45}</string>
            </dict>
            <key>heroui_frame_background_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,2},{480,627}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,627}}</string>
                <key>sourceSize</key>
                <string>{480,627}</string>
            </dict>
            <key>heroui_frame_fighting.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,648},{389,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,57}}</string>
                <key>sourceSize</key>
                <string>{389,57}</string>
            </dict>
            <key>heroui_icon_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,548},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>heroui_icon_belt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,767},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>heroui_icon_clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,753},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>heroui_icon_diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,610},{55,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,50}}</string>
                <key>sourceSize</key>
                <string>{55,50}</string>
            </dict>
            <key>heroui_icon_gloves.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,665},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>heroui_icon_ornaments.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,853},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,98}</string>
            </dict>
            <key>heroui_icon_shoes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,753},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,98}</string>
            </dict>
            <key>heroui_icon_weapons.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,651},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>heroui_littleplus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1068},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>heroui_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,548},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>heroui_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,548},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>theheroui_expriencebar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,2},{302,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,13}}</string>
                <key>sourceSize</key>
                <string>{302,13}</string>
            </dict>
            <key>theheroui_expriencframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,531},{306,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,15}}</string>
                <key>sourceSize</key>
                <string>{306,15}</string>
            </dict>
            <key>theheroui_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1108,644}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{1108,644}}</string>
                <key>sourceSize</key>
                <string>{1120,654}</string>
            </dict>
            <key>theheroui_frame_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,484},{1083,620}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{1083,620}}</string>
                <key>sourceSize</key>
                <string>{1095,630}</string>
            </dict>
            <key>theheroui_frame_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,1569},{453,137}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{453,137}}</string>
                <key>sourceSize</key>
                <string>{489,163}</string>
            </dict>
            <key>theheroui_frame_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,475},{242,41}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{242,41}}</string>
                <key>sourceSize</key>
                <string>{268,61}</string>
            </dict>
            <key>theheroui_slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1164},{29,568}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,568}}</string>
                <key>sourceSize</key>
                <string>{29,568}</string>
            </dict>
            <key>theheroui_sliderbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,2024},{22,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,197}}</string>
                <key>sourceSize</key>
                <string>{22,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroUI0.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d76145867a0ef21db14976c5ec88e8c6$</string>
            <key>textureFileName</key>
            <string>heroUI0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
