<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7100110_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,324},{320,224}}</string>
                <key>offset</key>
                <string>{-93,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,261},{320,224}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100110_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1032},{320,226}}</string>
                <key>offset</key>
                <string>{-93,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,259},{320,226}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100110_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{320,226}}</string>
                <key>offset</key>
                <string>{-93,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,259},{320,226}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100110_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,338},{320,226}}</string>
                <key>offset</key>
                <string>{-92,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,259},{320,226}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100110_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,710},{320,226}}</string>
                <key>offset</key>
                <string>{-93,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,259},{320,226}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100110_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1566},{320,226}}</string>
                <key>offset</key>
                <string>{-93,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,259},{320,226}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100110_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,660},{320,224}}</string>
                <key>offset</key>
                <string>{-93,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,261},{320,224}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100110_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1566},{320,224}}</string>
                <key>offset</key>
                <string>{-93,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,261},{320,224}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100120_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,798},{220,202}}</string>
                <key>offset</key>
                <string>{-41,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,279},{220,202}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100120_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,904},{220,216}}</string>
                <key>offset</key>
                <string>{-44,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,265},{220,216}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100120_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,218},{250,190}}</string>
                <key>offset</key>
                <string>{-29,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,260},{250,190}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100120_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,636},{236,216}}</string>
                <key>offset</key>
                <string>{-36,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,265},{236,216}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100120_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,576},{220,206}}</string>
                <key>offset</key>
                <string>{-41,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,277},{220,206}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100120_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,854},{220,222}}</string>
                <key>offset</key>
                <string>{-39,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,260},{220,222}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100120_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,444},{244,190}}</string>
                <key>offset</key>
                <string>{-26,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,256},{244,190}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100120_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,688},{230,214}}</string>
                <key>offset</key>
                <string>{-33,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,266},{230,214}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100130_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,300},{274,274}}</string>
                <key>offset</key>
                <string>{-70,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,211},{274,274}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100130_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1212},{200,352}}</string>
                <key>offset</key>
                <string>{-33,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,133},{200,352}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100130_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1280},{196,278}}</string>
                <key>offset</key>
                <string>{-29,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,207},{196,278}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100130_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,2},{262,214}}</string>
                <key>offset</key>
                <string>{45,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,267},{262,214}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100130_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,1020},{218,216}}</string>
                <key>offset</key>
                <string>{3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,269},{218,216}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100130_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,646},{296,216}}</string>
                <key>offset</key>
                <string>{38,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,269},{296,216}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100130_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,2},{262,216}}</string>
                <key>offset</key>
                <string>{24,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,269},{262,216}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100130_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,470},{238,216}}</string>
                <key>offset</key>
                <string>{13,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,269},{238,216}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100131_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,2},{296,280}}</string>
                <key>offset</key>
                <string>{-82,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,203},{296,280}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100131_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,414}}</string>
                <key>offset</key>
                <string>{-26,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,68},{116,414}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100131_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,982},{296,274}}</string>
                <key>offset</key>
                <string>{-97,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,209},{296,274}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100131_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1212},{356,170}}</string>
                <key>offset</key>
                <string>{96,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,315},{356,170}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100131_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,764},{352,146}}</string>
                <key>offset</key>
                <string>{99,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,337},{352,146}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100131_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{362,140}}</string>
                <key>offset</key>
                <string>{95,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,344},{362,140}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100131_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{364,136}}</string>
                <key>offset</key>
                <string>{96,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,349},{364,136}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100131_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1570},{356,136}}</string>
                <key>offset</key>
                <string>{98,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,354},{356,136}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100140_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{256,334}}</string>
                <key>offset</key>
                <string>{-61,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,151},{256,334}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100140_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1354},{278,210}}</string>
                <key>offset</key>
                <string>{-58,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,275},{278,210}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100140_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,218},{252,224}}</string>
                <key>offset</key>
                <string>{37,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,260},{252,224}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100140_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,398},{274,364}}</string>
                <key>offset</key>
                <string>{121,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,120},{274,364}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100140_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{210,394}}</string>
                <key>offset</key>
                <string>{130,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,91},{210,394}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100140_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1610},{204,392}}</string>
                <key>offset</key>
                <string>{127,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,93},{204,392}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100140_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1216},{204,392}}</string>
                <key>offset</key>
                <string>{127,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,93},{204,392}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100140_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{204,392}}</string>
                <key>offset</key>
                <string>{126,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,93},{204,392}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100150_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,366},{342,226}}</string>
                <key>offset</key>
                <string>{-104,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,259},{342,226}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100150_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1570},{352,226}}</string>
                <key>offset</key>
                <string>{-110,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,258},{352,226}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100150_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,822},{388,224}}</string>
                <key>offset</key>
                <string>{-100,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,259},{388,224}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100150_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{402,224}}</string>
                <key>offset</key>
                <string>{-94,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,259},{402,224}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>71001.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d4c6aeaacf4e39f921001e09647e111$</string>
            <key>textureFileName</key>
            <string>71001.pvr.ccz</string>
        </dict>
    </dict>
</plist>
