<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7100210_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,716},{146,200}}</string>
                <key>offset</key>
                <string>{-53,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,281},{146,200}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100210_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,746},{146,198}}</string>
                <key>offset</key>
                <string>{-53,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,283},{146,198}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100210_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{146,196}}</string>
                <key>offset</key>
                <string>{-53,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,285},{146,196}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100210_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1062},{146,194}}</string>
                <key>offset</key>
                <string>{-53,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,287},{146,194}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100210_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1002},{146,194}}</string>
                <key>offset</key>
                <string>{-53,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,287},{146,194}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100210_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{146,198}}</string>
                <key>offset</key>
                <string>{-53,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,283},{146,198}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100210_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,598},{146,200}}</string>
                <key>offset</key>
                <string>{-53,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,281},{146,200}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100210_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,396},{146,200}}</string>
                <key>offset</key>
                <string>{-53,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,281},{146,200}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100220_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1150},{138,186}}</string>
                <key>offset</key>
                <string>{-16,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,285},{138,186}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100220_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,572},{142,204}}</string>
                <key>offset</key>
                <string>{-17,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,266},{142,204}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100220_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,922},{178,186}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,263},{178,186}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100220_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,894},{146,194}}</string>
                <key>offset</key>
                <string>{-16,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,277},{146,194}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100220_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,864},{136,198}}</string>
                <key>offset</key>
                <string>{-10,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,275},{136,198}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100220_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,404},{128,198}}</string>
                <key>offset</key>
                <string>{-8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,269},{128,198}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100220_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,750},{170,194}}</string>
                <key>offset</key>
                <string>{-17,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,257},{170,194}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100220_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1042},{158,186}}</string>
                <key>offset</key>
                <string>{-28,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,286},{158,186}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100230_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{136,202}}</string>
                <key>offset</key>
                <string>{-33,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,279},{136,202}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100230_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,268},{106,194}}</string>
                <key>offset</key>
                <string>{-17,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,287},{106,194}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100230_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,788},{180,188}}</string>
                <key>offset</key>
                <string>{-33,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,293},{180,188}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100230_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1290},{136,178}}</string>
                <key>offset</key>
                <string>{79,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{361,303},{136,178}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100230_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{218,178}}</string>
                <key>offset</key>
                <string>{66,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{307,303},{218,178}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100230_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{224,178}}</string>
                <key>offset</key>
                <string>{69,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{307,303},{224,178}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100230_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,404},{200,178}}</string>
                <key>offset</key>
                <string>{71,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,303},{200,178}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100230_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1102},{166,178}}</string>
                <key>offset</key>
                <string>{64,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{331,303},{166,178}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100231_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,584},{164,200}}</string>
                <key>offset</key>
                <string>{-46,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,281},{164,200}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100231_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,258},{144,230}}</string>
                <key>offset</key>
                <string>{-37,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,251},{144,230}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100231_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{134,286}}</string>
                <key>offset</key>
                <string>{-22,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,195},{134,286}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100231_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1348},{132,178}}</string>
                <key>offset</key>
                <string>{69,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{353,305},{132,178}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100231_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1270},{132,178}}</string>
                <key>offset</key>
                <string>{68,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{352,305},{132,178}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100231_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1144},{132,178}}</string>
                <key>offset</key>
                <string>{67,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{351,305},{132,178}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100231_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1202},{144,178}}</string>
                <key>offset</key>
                <string>{73,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{351,305},{144,178}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100231_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1386},{132,178}}</string>
                <key>offset</key>
                <string>{66,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{350,305},{132,178}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100240_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,138},{118,264}}</string>
                <key>offset</key>
                <string>{-28,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,217},{118,264}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100240_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,970},{172,178}}</string>
                <key>offset</key>
                <string>{-55,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,303},{172,178}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100240_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1520},{148,174}}</string>
                <key>offset</key>
                <string>{30,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{306,304},{148,174}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100240_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,266},{128,342}}</string>
                <key>offset</key>
                <string>{143,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{429,138},{128,342}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100240_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{130,342}}</string>
                <key>offset</key>
                <string>{144,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{429,138},{130,342}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100240_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,134},{130,342}}</string>
                <key>offset</key>
                <string>{144,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{429,138},{130,342}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100240_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,342}}</string>
                <key>offset</key>
                <string>{146,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{430,138},{132,342}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100240_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{130,342}}</string>
                <key>offset</key>
                <string>{144,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{429,138},{130,342}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100250_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,604},{128,182}}</string>
                <key>offset</key>
                <string>{-13,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,298},{128,182}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100250_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1428},{174,172}}</string>
                <key>offset</key>
                <string>{-37,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,308},{174,172}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100250_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,396},{204,174}}</string>
                <key>offset</key>
                <string>{-51,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,306},{204,174}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100250_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1210},{182,174}}</string>
                <key>offset</key>
                <string>{-40,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,307},{182,174}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>71002.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46f3cb460ecdd989038fb311e2922b5c$</string>
            <key>textureFileName</key>
            <string>71002.pvr.ccz</string>
        </dict>
    </dict>
</plist>
