<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7100510_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,672},{158,234}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,249},{158,234}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100510_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1760},{156,234}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,249},{156,234}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100510_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1642},{156,234}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,249},{156,234}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100510_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1834},{156,232}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,251},{156,232}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100510_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1724},{156,232}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,251},{156,232}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100510_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1642},{158,232}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,251},{158,232}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100510_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1676},{156,232}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,251},{156,232}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100510_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1518},{156,234}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,249},{156,234}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100520_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1094},{186,216}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,251},{186,216}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100520_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,682},{196,224}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,245},{196,224}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100520_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,586},{222,208}}</string>
                <key>offset</key>
                <string>{-12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,236},{222,208}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100520_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,370},{214,218}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,243},{214,218}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100520_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,880},{212,196}}</string>
                <key>offset</key>
                <string>{27,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,273},{212,196}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100520_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{212,218}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,255},{212,218}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100520_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,576},{242,186}}</string>
                <key>offset</key>
                <string>{-12,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,248},{242,186}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100520_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{240,204}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,257},{240,204}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100530_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1524},{156,234}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,246},{156,234}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100530_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1802},{140,238}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,242},{140,238}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100530_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,380},{142,300}}</string>
                <key>offset</key>
                <string>{13,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,180},{142,300}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100530_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,380},{194,234}}</string>
                <key>offset</key>
                <string>{40,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{293,246},{194,234}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100530_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1268},{178,218}}</string>
                <key>offset</key>
                <string>{19,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,262},{178,218}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100530_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,908},{192,210}}</string>
                <key>offset</key>
                <string>{12,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,270},{192,210}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100530_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1212},{192,204}}</string>
                <key>offset</key>
                <string>{5,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,276},{192,204}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100530_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1328},{188,198}}</string>
                <key>offset</key>
                <string>{-3,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,282},{188,198}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100531_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,820},{178,234}}</string>
                <key>offset</key>
                <string>{12,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,248},{178,234}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100531_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1486},{156,236}}</string>
                <key>offset</key>
                <string>{13,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,246},{156,236}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100531_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{186,236}}</string>
                <key>offset</key>
                <string>{40,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,246},{186,236}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100531_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{192,316}}</string>
                <key>offset</key>
                <string>{43,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{297,166},{192,316}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100531_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,314}}</string>
                <key>offset</key>
                <string>{37,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,168},{196,314}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100531_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{190,310}}</string>
                <key>offset</key>
                <string>{20,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,172},{190,310}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100531_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,194},{184,308}}</string>
                <key>offset</key>
                <string>{15,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,174},{184,308}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100531_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,196},{172,312}}</string>
                <key>offset</key>
                <string>{14,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,170},{172,312}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100540_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1406},{156,234}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,246},{156,234}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100540_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1802},{140,238}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,242},{140,238}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100540_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,370},{142,300}}</string>
                <key>offset</key>
                <string>{13,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,180},{142,300}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100540_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{194,234}}</string>
                <key>offset</key>
                <string>{40,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,246},{194,234}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100540_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1056},{178,218}}</string>
                <key>offset</key>
                <string>{19,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,262},{178,218}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100540_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1448},{192,202}}</string>
                <key>offset</key>
                <string>{-5,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,278},{192,202}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100540_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1008},{202,212}}</string>
                <key>offset</key>
                <string>{-10,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,268},{202,212}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100540_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,796},{210,212}}</string>
                <key>offset</key>
                <string>{-14,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,268},{210,212}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100550_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1276},{182,208}}</string>
                <key>offset</key>
                <string>{-21,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,273},{182,208}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100550_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1078},{188,208}}</string>
                <key>offset</key>
                <string>{-13,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,273},{188,208}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100550_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1120},{192,206}}</string>
                <key>offset</key>
                <string>{-8,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,275},{192,206}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100550_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1312},{186,210}}</string>
                <key>offset</key>
                <string>{-4,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,271},{186,210}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>71005.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fcb1d256ceeaf5a482fb2984a355bbe$</string>
            <key>textureFileName</key>
            <string>71005.pvr.ccz</string>
        </dict>
    </dict>
</plist>
