<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7100410_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,334},{266,208}}</string>
                <key>offset</key>
                <string>{-26,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,273},{266,208}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100410_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,212},{266,208}}</string>
                <key>offset</key>
                <string>{-26,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,273},{266,208}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100410_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,544},{266,206}}</string>
                <key>offset</key>
                <string>{-26,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,274},{266,206}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100410_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,422},{266,206}}</string>
                <key>offset</key>
                <string>{-26,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,274},{266,206}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100410_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{266,206}}</string>
                <key>offset</key>
                <string>{-26,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,274},{266,206}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100410_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{266,208}}</string>
                <key>offset</key>
                <string>{-26,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,273},{266,208}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100410_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,124},{266,208}}</string>
                <key>offset</key>
                <string>{-26,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,273},{266,208}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100410_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{266,208}}</string>
                <key>offset</key>
                <string>{-26,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,273},{266,208}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100420_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,418},{158,208}}</string>
                <key>offset</key>
                <string>{-4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,271},{158,208}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100420_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,212},{162,204}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,261},{162,204}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100420_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1834},{188,200}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,254},{188,200}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100420_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1242},{180,220}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,260},{180,220}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100420_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1388},{174,218}}</string>
                <key>offset</key>
                <string>{10,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,262},{174,218}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100420_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1652},{180,206}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,254},{180,206}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100420_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1250},{200,218}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,250},{200,218}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100420_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1064},{176,222}}</string>
                <key>offset</key>
                <string>{12,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,256},{176,222}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100430_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1460},{190,214}}</string>
                <key>offset</key>
                <string>{-53,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,265},{190,214}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100430_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1170},{228,216}}</string>
                <key>offset</key>
                <string>{-43,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,259},{228,216}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100430_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,628},{228,216}}</string>
                <key>offset</key>
                <string>{-34,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,255},{228,216}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100430_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1252},{224,206}}</string>
                <key>offset</key>
                <string>{-18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,255},{224,206}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100430_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,836},{248,206}}</string>
                <key>offset</key>
                <string>{-26,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,255},{248,206}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100430_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{256,208}}</string>
                <key>offset</key>
                <string>{-24,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,255},{256,208}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100430_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,752},{260,210}}</string>
                <key>offset</key>
                <string>{-21,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,255},{260,210}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100430_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{260,212}}</string>
                <key>offset</key>
                <string>{-17,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,255},{260,212}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100431_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{120,322}}</string>
                <key>offset</key>
                <string>{-25,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,159},{120,322}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100431_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{102,320}}</string>
                <key>offset</key>
                <string>{-17,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{282,161},{102,320}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100431_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,340}}</string>
                <key>offset</key>
                <string>{-22,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,141},{96,340}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100431_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,630},{262,204}}</string>
                <key>offset</key>
                <string>{-40,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,277},{262,204}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100431_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1044},{236,204}}</string>
                <key>offset</key>
                <string>{-53,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,277},{236,204}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100431_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1046},{236,204}}</string>
                <key>offset</key>
                <string>{-53,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,277},{236,204}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100431_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,964},{236,204}}</string>
                <key>offset</key>
                <string>{-53,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,277},{236,204}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100431_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,858},{236,204}}</string>
                <key>offset</key>
                <string>{-53,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,277},{236,204}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100450_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1424},{170,208}}</string>
                <key>offset</key>
                <string>{-50,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,268},{170,208}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100450_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1564},{182,206}}</string>
                <key>offset</key>
                <string>{-60,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,270},{182,206}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100450_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1452},{182,206}}</string>
                <key>offset</key>
                <string>{-67,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,270},{182,206}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7100450_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1834},{182,204}}</string>
                <key>offset</key>
                <string>{-71,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,272},{182,204}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>71004.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ef6caa8870104b984cd9389f00ee17f$</string>
            <key>textureFileName</key>
            <string>71004.pvr.ccz</string>
        </dict>
    </dict>
</plist>
