<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Atk1/7200230_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,776},{112,210}}</string>
                <key>offset</key>
                <string>{-1,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{293,314},{112,210}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk1/7200230_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,764},{172,174}}</string>
                <key>offset</key>
                <string>{-39,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,350},{172,174}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk1/7200230_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,344},{200,236}}</string>
                <key>offset</key>
                <string>{-40,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,288},{200,236}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk1/7200230_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,296},{244,202}}</string>
                <key>offset</key>
                <string>{-55,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,322},{244,202}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk1/7200230_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{288,182}}</string>
                <key>offset</key>
                <string>{71,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,342},{288,182}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk1/7200230_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,698},{124,178}}</string>
                <key>offset</key>
                <string>{-9,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,345},{124,178}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk1/7200230_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,712},{176,172}}</string>
                <key>offset</key>
                <string>{-36,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,351},{176,172}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk1/7200230_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,608},{184,178}}</string>
                <key>offset</key>
                <string>{-41,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,345},{184,178}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk2/7200231_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,216},{142,214}}</string>
                <key>offset</key>
                <string>{23,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,311},{142,214}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk2/7200231_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{160,238}}</string>
                <key>offset</key>
                <string>{-63,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,287},{160,238}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk2/7200231_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,2},{222,208}}</string>
                <key>offset</key>
                <string>{4,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,317},{222,208}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk2/7200231_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,590},{106,200}}</string>
                <key>offset</key>
                <string>{-28,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,325},{106,200}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk2/7200231_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{280,198}}</string>
                <key>offset</key>
                <string>{-20,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,327},{280,198}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk2/7200231_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,676},{156,226}}</string>
                <key>offset</key>
                <string>{-20,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,298},{156,226}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk2/7200231_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,164},{250,194}}</string>
                <key>offset</key>
                <string>{36,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,330},{250,194}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk2/7200231_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,164}}</string>
                <key>offset</key>
                <string>{-14,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,360},{318,164}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Hurt/7200250_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,344},{134,210}}</string>
                <key>offset</key>
                <string>{-12,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,313},{134,210}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Hurt/7200250_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1198},{142,208}}</string>
                <key>offset</key>
                <string>{-70,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,315},{142,208}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Hurt/7200250_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1076},{184,204}}</string>
                <key>offset</key>
                <string>{-92,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,319},{184,204}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Hurt/7200250_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1342},{200,200}}</string>
                <key>offset</key>
                <string>{-73,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,323},{200,200}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7200210_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,412},{176,210}}</string>
                <key>offset</key>
                <string>{20,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{282,314},{176,210}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7200210_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,356},{178,210}}</string>
                <key>offset</key>
                <string>{19,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,314},{178,210}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7200210_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1016},{180,210}}</string>
                <key>offset</key>
                <string>{18,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,314},{180,210}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7200210_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,536},{174,210}}</string>
                <key>offset</key>
                <string>{22,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,314},{174,210}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7200210_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,432},{174,210}}</string>
                <key>offset</key>
                <string>{23,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{286,314},{174,210}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7200210_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,414},{174,210}}</string>
                <key>offset</key>
                <string>{23,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{286,314},{174,210}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7200210_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,590},{172,210}}</string>
                <key>offset</key>
                <string>{24,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,314},{172,210}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7200210_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,558},{174,210}}</string>
                <key>offset</key>
                <string>{22,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,314},{174,210}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill1/7200240_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,734},{160,210}}</string>
                <key>offset</key>
                <string>{33,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{303,312},{160,210}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill1/7200240_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,834},{208,212}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,247},{208,212}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill1/7200240_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,2},{160,268}}</string>
                <key>offset</key>
                <string>{-20,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,150},{160,268}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill1/7200240_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,186},{156,250}}</string>
                <key>offset</key>
                <string>{-36,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,125},{156,250}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill1/7200240_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,2},{152,224}}</string>
                <key>offset</key>
                <string>{-61,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,137},{152,224}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill1/7200240_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,700},{178,220}}</string>
                <key>offset</key>
                <string>{-67,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,151},{178,220}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill1/7200240_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{296,162}}</string>
                <key>offset</key>
                <string>{39,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,351},{296,162}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill1/7200240_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,166},{288,128}}</string>
                <key>offset</key>
                <string>{50,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,407},{288,128}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill2/7200241_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,2},{148,212}}</string>
                <key>offset</key>
                <string>{25,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,311},{148,212}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill2/7200241_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{158,232}}</string>
                <key>offset</key>
                <string>{17,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,291},{158,232}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill2/7200241_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{122,244}}</string>
                <key>offset</key>
                <string>{10,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{299,280},{122,244}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill2/7200241_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,500},{174,232}}</string>
                <key>offset</key>
                <string>{24,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,291},{174,232}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill2/7200241_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,546},{152,230}}</string>
                <key>offset</key>
                <string>{7,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{281,293},{152,230}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill2/7200241_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,2},{260,210}}</string>
                <key>offset</key>
                <string>{70,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,312},{260,210}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill2/7200241_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1238},{180,204}}</string>
                <key>offset</key>
                <string>{37,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{297,320},{180,204}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill2/7200241_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1044},{208,192}}</string>
                <key>offset</key>
                <string>{-24,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,332},{208,192}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7200220_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,156},{222,198}}</string>
                <key>offset</key>
                <string>{-7,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,321},{222,198}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7200220_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,212},{220,200}}</string>
                <key>offset</key>
                <string>{-17,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,325},{220,200}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7200220_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,360},{220,196}}</string>
                <key>offset</key>
                <string>{-18,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,330},{220,196}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7200220_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,214},{220,196}}</string>
                <key>offset</key>
                <string>{-5,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,326},{220,196}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7200220_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{224,200}}</string>
                <key>offset</key>
                <string>{-3,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,322},{224,200}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7200220_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,890},{206,202}}</string>
                <key>offset</key>
                <string>{-6,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,324},{206,202}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7200220_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,880},{208,194}}</string>
                <key>offset</key>
                <string>{-4,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,331},{208,194}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7200220_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,556},{218,194}}</string>
                <key>offset</key>
                <string>{-1,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,328},{218,194}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>72002.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:141b8631c00ccaffa80504ac899a8201$</string>
            <key>textureFileName</key>
            <string>72002.pvr.ccz</string>
        </dict>
    </dict>
</plist>
