<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Atk1/7200130_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,322},{110,210}}</string>
                <key>offset</key>
                <string>{-2,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,315},{110,210}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk1/7200130_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,2},{194,174}}</string>
                <key>offset</key>
                <string>{-50,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,351},{194,174}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk1/7200130_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,516},{218,218}}</string>
                <key>offset</key>
                <string>{-52,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,307},{218,218}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk1/7200130_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,124},{256,196}}</string>
                <key>offset</key>
                <string>{-56,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,329},{256,196}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk1/7200130_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{292,182}}</string>
                <key>offset</key>
                <string>{74,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,342},{292,182}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk1/7200130_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,844},{124,178}}</string>
                <key>offset</key>
                <string>{-10,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,346},{124,178}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk1/7200130_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,764},{186,172}}</string>
                <key>offset</key>
                <string>{-42,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,351},{186,172}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk1/7200130_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,198},{190,178}}</string>
                <key>offset</key>
                <string>{-44,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,345},{190,178}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk2/7200131_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,706},{136,212}}</string>
                <key>offset</key>
                <string>{20,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{302,312},{136,212}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk2/7200131_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,120},{152,236}}</string>
                <key>offset</key>
                <string>{-59,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,289},{152,236}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk2/7200131_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,164},{230,208}}</string>
                <key>offset</key>
                <string>{-3,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,317},{230,208}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk2/7200131_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1218},{76,200}}</string>
                <key>offset</key>
                <string>{-13,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{299,324},{76,200}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk2/7200131_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,186},{254,196}}</string>
                <key>offset</key>
                <string>{-29,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,328},{254,196}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk2/7200131_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,122},{152,230}}</string>
                <key>offset</key>
                <string>{-19,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,294},{152,230}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk2/7200131_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,534},{188,194}}</string>
                <key>offset</key>
                <string>{53,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{309,329},{188,194}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk2/7200131_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{308,164}}</string>
                <key>offset</key>
                <string>{-14,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,359},{308,164}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Hurt/7200150_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,884},{182,204}}</string>
                <key>offset</key>
                <string>{-91,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,319},{182,204}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Hurt/7200150_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1018},{204,198}}</string>
                <key>offset</key>
                <string>{-80,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,325},{204,198}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Hurt/7200150_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,882},{206,196}}</string>
                <key>offset</key>
                <string>{-41,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,327},{206,196}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Hurt/7200150_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,930},{202,198}}</string>
                <key>offset</key>
                <string>{-27,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,325},{202,198}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7200110_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,582},{164,210}}</string>
                <key>offset</key>
                <string>{19,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,315},{164,210}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7200110_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{166,210}}</string>
                <key>offset</key>
                <string>{18,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,315},{166,210}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7200110_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,384},{168,210}}</string>
                <key>offset</key>
                <string>{17,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,315},{168,210}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7200110_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,520},{164,210}}</string>
                <key>offset</key>
                <string>{20,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,315},{164,210}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7200110_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{162,210}}</string>
                <key>offset</key>
                <string>{22,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{291,315},{162,210}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7200110_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,718},{162,210}}</string>
                <key>offset</key>
                <string>{22,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{291,315},{162,210}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7200110_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,686},{162,210}}</string>
                <key>offset</key>
                <string>{22,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{291,315},{162,210}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7200110_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{162,210}}</string>
                <key>offset</key>
                <string>{21,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{290,315},{162,210}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill1/7200140_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,730},{152,210}}</string>
                <key>offset</key>
                <string>{30,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{304,314},{152,210}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill1/7200140_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,554},{162,210}}</string>
                <key>offset</key>
                <string>{22,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{291,251},{162,210}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill1/7200140_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{120,268}}</string>
                <key>offset</key>
                <string>{9,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{299,152},{120,268}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill1/7200140_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{156,272}}</string>
                <key>offset</key>
                <string>{-29,109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,105},{156,272}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill1/7200140_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,214},{170,224}}</string>
                <key>offset</key>
                <string>{-70,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,139},{170,224}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill1/7200140_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,486},{172,224}}</string>
                <key>offset</key>
                <string>{-64,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,149},{172,224}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill1/7200140_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{244,160}}</string>
                <key>offset</key>
                <string>{57,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,355},{244,160}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill1/7200140_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,2},{242,116}}</string>
                <key>offset</key>
                <string>{64,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,410},{242,116}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill2/7200141_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,378},{136,212}}</string>
                <key>offset</key>
                <string>{24,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{306,311},{136,212}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill2/7200141_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,850},{78,208}}</string>
                <key>offset</key>
                <string>{-3,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{308,315},{78,208}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill2/7200141_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,276},{208,228}}</string>
                <key>offset</key>
                <string>{17,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,295},{208,228}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill2/7200141_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,2},{118,238}}</string>
                <key>offset</key>
                <string>{6,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{297,286},{118,238}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill2/7200141_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,274},{228,228}}</string>
                <key>offset</key>
                <string>{-3,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,295},{228,228}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill2/7200141_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{262,210}}</string>
                <key>offset</key>
                <string>{82,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,312},{262,210}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill2/7200141_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,374},{222,192}}</string>
                <key>offset</key>
                <string>{-31,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,331},{222,192}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill2/7200141_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{244,194}}</string>
                <key>offset</key>
                <string>{-42,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,329},{244,194}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7200120_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,322},{216,196}}</string>
                <key>offset</key>
                <string>{-8,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,322},{216,196}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7200120_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,504},{218,200}}</string>
                <key>offset</key>
                <string>{-20,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,325},{218,200}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7200120_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,660},{218,196}}</string>
                <key>offset</key>
                <string>{-21,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,330},{218,196}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7200120_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,568},{216,194}}</string>
                <key>offset</key>
                <string>{-9,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,328},{216,194}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7200120_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,736},{216,200}}</string>
                <key>offset</key>
                <string>{-7,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,322},{216,200}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7200120_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1080},{194,200}}</string>
                <key>offset</key>
                <string>{-7,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,325},{194,200}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7200120_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,748},{204,196}}</string>
                <key>offset</key>
                <string>{-8,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,330},{204,196}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7200120_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,386},{216,194}}</string>
                <key>offset</key>
                <string>{-6,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,328},{216,194}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>72001.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f64fbc3ac74f435536e67a5a68c9819f$</string>
            <key>textureFileName</key>
            <string>72001.pvr.ccz</string>
        </dict>
    </dict>
</plist>
