<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Atk1/7300330_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,416},{246,236}}</string>
                <key>offset</key>
                <string>{-39,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,244},{246,236}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk1/7300330_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,910},{190,232}}</string>
                <key>offset</key>
                <string>{13,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,247},{190,232}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk1/7300330_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,474},{200,226}}</string>
                <key>offset</key>
                <string>{-33,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,254},{200,226}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk1/7300330_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{252,228}}</string>
                <key>offset</key>
                <string>{19,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,254},{252,228}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk1/7300330_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{330,222}}</string>
                <key>offset</key>
                <string>{60,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,258},{330,222}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk1/7300330_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,716},{242,234}}</string>
                <key>offset</key>
                <string>{-17,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,244},{242,234}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk1/7300330_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,270},{266,228}}</string>
                <key>offset</key>
                <string>{-33,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,250},{266,228}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk1/7300330_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{334,226}}</string>
                <key>offset</key>
                <string>{-25,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,253},{334,226}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk2/7300331_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,690},{186,230}}</string>
                <key>offset</key>
                <string>{-54,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,250},{186,230}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk2/7300331_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,500},{246,226}}</string>
                <key>offset</key>
                <string>{23,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,254},{246,226}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk2/7300331_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{220,234}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,247},{220,234}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk2/7300331_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{212,326}}</string>
                <key>offset</key>
                <string>{-14,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,155},{212,326}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk2/7300331_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,2},{202,284}}</string>
                <key>offset</key>
                <string>{17,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,198},{202,284}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk2/7300331_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,486},{228,264}}</string>
                <key>offset</key>
                <string>{29,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,218},{228,264}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk2/7300331_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{330,260}}</string>
                <key>offset</key>
                <string>{78,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,221},{330,260}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk2/7300331_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,2},{278,270}}</string>
                <key>offset</key>
                <string>{73,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,211},{278,270}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Hurt/7300350_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,974},{220,228}}</string>
                <key>offset</key>
                <string>{-44,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,244},{220,228}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Hurt/7300350_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,206},{208,274}}</string>
                <key>offset</key>
                <string>{-16,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,199},{208,274}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Hurt/7300350_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,774},{198,236}}</string>
                <key>offset</key>
                <string>{-32,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,242},{198,236}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Hurt/7300350_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,702},{216,200}}</string>
                <key>offset</key>
                <string>{-25,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,274},{216,200}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7300310_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,654},{186,234}}</string>
                <key>offset</key>
                <string>{-54,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,247},{186,234}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7300310_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,238},{182,234}}</string>
                <key>offset</key>
                <string>{-59,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,247},{182,234}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7300310_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,2},{184,234}}</string>
                <key>offset</key>
                <string>{-60,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,247},{184,234}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7300310_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,728},{180,234}}</string>
                <key>offset</key>
                <string>{-57,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,247},{180,234}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7300310_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,690},{178,234}}</string>
                <key>offset</key>
                <string>{-56,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,247},{178,234}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7300310_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,842},{176,234}}</string>
                <key>offset</key>
                <string>{-55,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,247},{176,234}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7300310_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,952},{180,232}}</string>
                <key>offset</key>
                <string>{-55,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,249},{180,232}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7300310_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,502},{186,234}}</string>
                <key>offset</key>
                <string>{-54,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,247},{186,234}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill1/7300340_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,542},{254,230}}</string>
                <key>offset</key>
                <string>{-35,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,247},{254,230}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill1/7300340_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,870},{194,228}}</string>
                <key>offset</key>
                <string>{-22,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,249},{194,228}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill1/7300340_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1186},{212,228}}</string>
                <key>offset</key>
                <string>{-27,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,249},{212,228}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill1/7300340_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,274},{268,226}}</string>
                <key>offset</key>
                <string>{15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,251},{268,226}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill1/7300340_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,216},{292,268}}</string>
                <key>offset</key>
                <string>{16,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,209},{292,268}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill1/7300340_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,2},{266,296}}</string>
                <key>offset</key>
                <string>{-40,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,181},{266,296}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill1/7300340_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{278,284}}</string>
                <key>offset</key>
                <string>{-48,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,193},{278,284}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill1/7300340_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,264},{288,276}}</string>
                <key>offset</key>
                <string>{-44,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,208},{288,276}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7300320_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,1066},{162,208}}</string>
                <key>offset</key>
                <string>{-24,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,270},{162,208}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7300320_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1134},{164,220}}</string>
                <key>offset</key>
                <string>{-22,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,258},{164,220}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7300320_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,920},{176,212}}</string>
                <key>offset</key>
                <string>{-17,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,253},{176,212}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7300320_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,878},{178,214}}</string>
                <key>offset</key>
                <string>{-14,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,258},{178,214}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7300320_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,1058},{178,210}}</string>
                <key>offset</key>
                <string>{-15,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,270},{178,210}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7300320_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,1020},{178,226}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,254},{178,226}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7300320_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1102},{164,220}}</string>
                <key>offset</key>
                <string>{-18,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,245},{164,220}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7300320_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1196},{174,216}}</string>
                <key>offset</key>
                <string>{-18,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,255},{174,216}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>73003.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb979c8731d1693ed236ca3b0cd5ab57$</string>
            <key>textureFileName</key>
            <string>73003.pvr.ccz</string>
        </dict>
    </dict>
</plist>
