<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7401310_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,260},{208,254}}</string>
                <key>offset</key>
                <string>{-27,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,229},{208,254}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7401310_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,876},{216,256}}</string>
                <key>offset</key>
                <string>{-31,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,227},{216,256}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7401310_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{204,256}}</string>
                <key>offset</key>
                <string>{-24,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,227},{204,256}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7401310_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1042},{250,256}}</string>
                <key>offset</key>
                <string>{-45,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,227},{250,256}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7401310_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1294},{216,254}}</string>
                <key>offset</key>
                <string>{-25,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,229},{216,254}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7401310_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1092},{254,254}}</string>
                <key>offset</key>
                <string>{-42,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,229},{254,254}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7401310_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1018},{214,254}}</string>
                <key>offset</key>
                <string>{-22,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,229},{214,254}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7401310_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,516},{226,254}}</string>
                <key>offset</key>
                <string>{-29,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,229},{226,254}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7401320_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,456},{170,262}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,216},{170,262}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7401320_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{172,262}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,216},{172,262}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7401320_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{198,262}}</string>
                <key>offset</key>
                <string>{-16,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,214},{198,262}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7401320_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{212,266}}</string>
                <key>offset</key>
                <string>{-18,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,216},{212,266}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7401320_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,436},{188,262}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,220},{188,262}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7401320_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,216},{238,264}}</string>
                <key>offset</key>
                <string>{-52,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,220},{238,264}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7401320_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{168,268}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,216},{168,268}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7401320_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,276}}</string>
                <key>offset</key>
                <string>{-54,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,206},{272,276}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7401330_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,172},{264,262}}</string>
                <key>offset</key>
                <string>{-37,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,221},{264,262}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7401330_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{168,258}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,225},{168,258}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7401330_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1264},{198,252}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,231},{198,252}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7401330_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1512},{182,250}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,233},{182,250}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7401330_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1348},{182,250}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,233},{182,250}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7401330_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1094},{168,254}}</string>
                <key>offset</key>
                <string>{-17,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,229},{168,254}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7401330_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1274},{190,250}}</string>
                <key>offset</key>
                <string>{-21,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,233},{190,250}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7401330_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,772},{224,244}}</string>
                <key>offset</key>
                <string>{-42,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,239},{224,244}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7401350_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,860},{230,258}}</string>
                <key>offset</key>
                <string>{-22,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,225},{230,258}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7401350_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{220,260}}</string>
                <key>offset</key>
                <string>{-30,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,223},{220,260}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7401350_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,626},{232,260}}</string>
                <key>offset</key>
                <string>{-33,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,223},{232,260}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>7401350_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,628},{246,258}}</string>
                <key>offset</key>
                <string>{-29,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,225},{246,258}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>74013.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95e703920061e6c1aae36ee39fc9df81$</string>
            <key>textureFileName</key>
            <string>74013.pvr.ccz</string>
        </dict>
    </dict>
</plist>
