<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Atk1/7300230_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,436},{198,224}}</string>
                <key>offset</key>
                <string>{-30,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,256},{198,224}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk1/7300230_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,606},{188,222}}</string>
                <key>offset</key>
                <string>{12,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,258},{188,222}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk1/7300230_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{138,216}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,264},{138,216}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk1/7300230_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,728},{210,216}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,266},{210,216}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk1/7300230_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,2},{290,194}}</string>
                <key>offset</key>
                <string>{78,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,286},{290,194}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk1/7300230_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,210},{318,196}}</string>
                <key>offset</key>
                <string>{15,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,282},{318,196}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk1/7300230_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{330,206}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,272},{330,206}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk1/7300230_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{320,212}}</string>
                <key>offset</key>
                <string>{-29,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,267},{320,212}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk2/7300231_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,660},{144,218}}</string>
                <key>offset</key>
                <string>{-44,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,263},{144,218}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk2/7300231_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,418},{244,212}}</string>
                <key>offset</key>
                <string>{23,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,269},{244,212}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk2/7300231_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,426},{234,232}}</string>
                <key>offset</key>
                <string>{16,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,249},{234,232}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk2/7300231_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{252,322}}</string>
                <key>offset</key>
                <string>{21,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,159},{252,322}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk2/7300231_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,176},{248,282}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,200},{248,282}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk2/7300231_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,198},{236,262}}</string>
                <key>offset</key>
                <string>{-33,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,220},{236,262}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk2/7300231_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{340,174}}</string>
                <key>offset</key>
                <string>{71,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,307},{340,174}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk2/7300231_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,2},{294,192}}</string>
                <key>offset</key>
                <string>{64,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,303},{294,192}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Hurt/7300250_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,386},{218,204}}</string>
                <key>offset</key>
                <string>{-45,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,269},{218,204}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Hurt/7300250_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{246,196}}</string>
                <key>offset</key>
                <string>{-37,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,286},{246,196}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Hurt/7300250_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,2},{160,178}}</string>
                <key>offset</key>
                <string>{-14,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,307},{160,178}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Hurt/7300250_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,806},{176,170}}</string>
                <key>offset</key>
                <string>{-7,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,304},{176,170}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7300210_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,634},{146,218}}</string>
                <key>offset</key>
                <string>{-45,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,263},{146,218}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7300210_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,578},{148,220}}</string>
                <key>offset</key>
                <string>{-46,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,261},{148,220}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7300210_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,428},{148,220}}</string>
                <key>offset</key>
                <string>{-46,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,261},{148,220}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7300210_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,616},{144,220}}</string>
                <key>offset</key>
                <string>{-43,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,261},{144,220}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7300210_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,636},{148,220}}</string>
                <key>offset</key>
                <string>{-39,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,261},{148,220}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7300210_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{142,220}}</string>
                <key>offset</key>
                <string>{-40,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,261},{142,220}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7300210_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,786},{142,218}}</string>
                <key>offset</key>
                <string>{-42,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,263},{142,218}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7300210_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,632},{146,218}}</string>
                <key>offset</key>
                <string>{-45,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,263},{146,218}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill1/7300240_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,762},{204,216}}</string>
                <key>offset</key>
                <string>{-26,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,261},{204,216}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill1/7300240_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{186,214}}</string>
                <key>offset</key>
                <string>{-16,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,263},{186,214}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill1/7300240_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,418},{136,214}}</string>
                <key>offset</key>
                <string>{15,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,263},{136,214}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill1/7300240_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,780},{204,210}}</string>
                <key>offset</key>
                <string>{45,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{293,267},{204,210}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill1/7300240_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,196},{220,266}}</string>
                <key>offset</key>
                <string>{50,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{290,211},{220,266}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill1/7300240_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,2},{172,294}}</string>
                <key>offset</key>
                <string>{27,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{291,183},{172,294}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill1/7300240_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,408},{206,262}}</string>
                <key>offset</key>
                <string>{31,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,215},{206,262}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Skill1/7300240_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,216},{262,210}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,267},{262,210}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7300220_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,950},{168,188}}</string>
                <key>offset</key>
                <string>{-27,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,290},{168,188}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7300220_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1102},{166,200}}</string>
                <key>offset</key>
                <string>{-25,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,279},{166,200}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7300220_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,782},{166,198}}</string>
                <key>offset</key>
                <string>{-23,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,273},{166,198}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7300220_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,796},{166,196}}</string>
                <key>offset</key>
                <string>{-23,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,280},{166,196}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7300220_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,806},{168,190}}</string>
                <key>offset</key>
                <string>{-23,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,290},{168,190}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7300220_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,968},{166,204}}</string>
                <key>offset</key>
                <string>{-24,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,277},{166,204}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7300220_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,940},{156,206}}</string>
                <key>offset</key>
                <string>{-24,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,268},{156,206}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7300220_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,182},{158,202}}</string>
                <key>offset</key>
                <string>{-27,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,278},{158,202}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>73002.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53ede934f5abd8a5bd80a2dcc4fb916c$</string>
            <key>textureFileName</key>
            <string>73002.pvr.ccz</string>
        </dict>
    </dict>
</plist>
