<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Atk1/7400930_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,182},{134,170}}</string>
                <key>offset</key>
                <string>{-14,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,286},{134,170}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk1/7400930_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,368},{172,158}}</string>
                <key>offset</key>
                <string>{-30,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,298},{172,158}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk1/7400930_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,788},{216,180}}</string>
                <key>offset</key>
                <string>{-54,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,276},{216,180}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk1/7400930_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,558},{220,228}}</string>
                <key>offset</key>
                <string>{-48,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,228},{220,228}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk1/7400930_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,276}}</string>
                <key>offset</key>
                <string>{-23,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,180},{200,276}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk1/7400930_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{164,264}}</string>
                <key>offset</key>
                <string>{-24,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,192},{164,264}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk1/7400930_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{276,166}}</string>
                <key>offset</key>
                <string>{43,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,290},{276,166}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Atk1/7400930_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,788},{148,162}}</string>
                <key>offset</key>
                <string>{8,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,294},{148,162}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Hurt/7400950_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{130,170}}</string>
                <key>offset</key>
                <string>{-28,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,288},{130,170}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Hurt/7400950_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,512},{126,166}}</string>
                <key>offset</key>
                <string>{-24,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,290},{126,166}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Hurt/7400950_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,788},{148,166}}</string>
                <key>offset</key>
                <string>{-15,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,290},{148,166}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Hurt/7400950_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,320},{158,166}}</string>
                <key>offset</key>
                <string>{-16,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,290},{158,166}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7400910_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{158,168}}</string>
                <key>offset</key>
                <string>{-27,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,289},{158,168}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7400910_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,152},{166,166}}</string>
                <key>offset</key>
                <string>{-31,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,291},{166,166}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7400910_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,174},{168,166}}</string>
                <key>offset</key>
                <string>{-32,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,291},{168,166}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7400910_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,788},{164,164}}</string>
                <key>offset</key>
                <string>{-30,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,293},{164,164}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7400910_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,480},{156,166}}</string>
                <key>offset</key>
                <string>{-26,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,291},{156,166}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7400910_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,638},{148,166}}</string>
                <key>offset</key>
                <string>{-22,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,291},{148,166}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7400910_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,344},{144,166}}</string>
                <key>offset</key>
                <string>{-20,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,291},{144,166}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Idle/7400910_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{148,168}}</string>
                <key>offset</key>
                <string>{-22,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,289},{148,168}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7400920_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,546},{160,174}}</string>
                <key>offset</key>
                <string>{-11,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,278},{160,174}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7400920_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,824},{160,186}}</string>
                <key>offset</key>
                <string>{-13,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,268},{160,186}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7400920_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{162,186}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,267},{162,186}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7400920_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,186},{166,180}}</string>
                <key>offset</key>
                <string>{-17,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,274},{166,180}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7400920_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{168,178}}</string>
                <key>offset</key>
                <string>{-18,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,276},{168,178}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7400920_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,280},{168,182}}</string>
                <key>offset</key>
                <string>{-17,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,274},{168,182}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7400920_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{164,182}}</string>
                <key>offset</key>
                <string>{-14,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,275},{164,182}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>Walk/7400920_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,368},{164,176}}</string>
                <key>offset</key>
                <string>{-14,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,275},{164,176}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>74009.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2139de689ba29ff629acec1f863796d$</string>
            <key>textureFileName</key>
            <string>74009.pvr.ccz</string>
        </dict>
    </dict>
</plist>
