<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>12009_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,288},{132,112}}</string>
                <key>offset</key>
                <string>{8,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,100},{132,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>12009_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{158,128}}</string>
                <key>offset</key>
                <string>{16,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,88},{158,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>12009_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{178,138}}</string>
                <key>offset</key>
                <string>{21,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,80},{178,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>12009_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,144}}</string>
                <key>offset</key>
                <string>{22,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,78},{184,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>12009.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9781daed4673a12b5a0ff1f27ebae70e:1/1$</string>
            <key>textureFileName</key>
            <string>12009.pvr.ccz</string>
        </dict>
    </dict>
</plist>
