<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>12012_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,500},{230,222}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,25},{230,222}}</string>
                <key>sourceSize</key>
                <string>{292,268}</string>
            </dict>
            <key>12012_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,240},{256,230}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{256,230}}</string>
                <key>sourceSize</key>
                <string>{292,268}</string>
            </dict>
            <key>12012_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{270,242}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{270,242}}</string>
                <key>sourceSize</key>
                <string>{292,268}</string>
            </dict>
            <key>12012_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{288,260}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{288,260}}</string>
                <key>sourceSize</key>
                <string>{292,268}</string>
            </dict>
            <key>12012_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,258}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,258}}</string>
                <key>sourceSize</key>
                <string>{292,268}</string>
            </dict>
            <key>12012_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{236,256}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,12},{236,256}}</string>
                <key>sourceSize</key>
                <string>{292,268}</string>
            </dict>
            <key>12012_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,264},{234,242}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,5},{234,242}}</string>
                <key>sourceSize</key>
                <string>{292,268}</string>
            </dict>
            <key>12012_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,472},{224,240}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{224,240}}</string>
                <key>sourceSize</key>
                <string>{292,268}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>12012.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4103bf29349ecf2bb691b42de7dfadb2:1/1$</string>
            <key>textureFileName</key>
            <string>12012.pvr.ccz</string>
        </dict>
    </dict>
</plist>
