<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>201004_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{309,107}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,116},{309,107}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>201004_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{311,107}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,116},{311,107}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>201004_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,2},{287,103}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,118},{287,103}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>201004_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{305,103}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,118},{305,103}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>201004_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,309},{279,107}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,114},{279,107}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>201004_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{297,103}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,118},{297,103}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>201004_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{291,103}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,118},{291,103}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>201004_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{309,105}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,116},{309,105}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>201004.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7617a85356d0482935288d484f954784:1/1$</string>
            <key>textureFileName</key>
            <string>201004.pvr.ccz</string>
        </dict>
    </dict>
</plist>
