<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>201003_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,524},{372,414}}</string>
                <key>offset</key>
                <string>{23,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,66},{372,414}}</string>
                <key>sourceSize</key>
                <string>{666,666}</string>
            </dict>
            <key>201003_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,2},{372,520}}</string>
                <key>offset</key>
                <string>{23,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,0},{372,520}}</string>
                <key>sourceSize</key>
                <string>{666,666}</string>
            </dict>
            <key>201003_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{442,520}}</string>
                <key>offset</key>
                <string>{57,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,0},{442,520}}</string>
                <key>sourceSize</key>
                <string>{666,666}</string>
            </dict>
            <key>201003_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,526},{492,494}}</string>
                <key>offset</key>
                <string>{32,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,28},{492,494}}</string>
                <key>sourceSize</key>
                <string>{666,666}</string>
            </dict>
            <key>201003_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{492,500}}</string>
                <key>offset</key>
                <string>{32,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,27},{492,500}}</string>
                <key>sourceSize</key>
                <string>{666,666}</string>
            </dict>
            <key>201003_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{550,490}}</string>
                <key>offset</key>
                <string>{3,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,43},{550,490}}</string>
                <key>sourceSize</key>
                <string>{666,666}</string>
            </dict>
            <key>201003_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{550,516}}</string>
                <key>offset</key>
                <string>{3,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,14},{550,516}}</string>
                <key>sourceSize</key>
                <string>{666,666}</string>
            </dict>
            <key>201003_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,2},{548,522}}</string>
                <key>offset</key>
                <string>{2,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,0},{548,522}}</string>
                <key>sourceSize</key>
                <string>{666,666}</string>
            </dict>
            <key>201003_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,494},{546,494}}</string>
                <key>offset</key>
                <string>{1,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,28},{546,494}}</string>
                <key>sourceSize</key>
                <string>{666,666}</string>
            </dict>
            <key>201003_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,940},{350,442}}</string>
                <key>offset</key>
                <string>{-98,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,80},{350,442}}</string>
                <key>sourceSize</key>
                <string>{666,666}</string>
            </dict>
            <key>201003_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1458},{348,254}}</string>
                <key>offset</key>
                <string>{-98,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,266},{348,254}}</string>
                <key>sourceSize</key>
                <string>{666,666}</string>
            </dict>
            <key>201003_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1808},{334,158}}</string>
                <key>offset</key>
                <string>{-94,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,267},{334,158}}</string>
                <key>sourceSize</key>
                <string>{666,666}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>201003.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:294f9b1aa8222f5ca246bed7584b26bb:1/1$</string>
            <key>textureFileName</key>
            <string>201003.pvr.ccz</string>
        </dict>
    </dict>
</plist>
