<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>201008_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{418,420}}</string>
                <key>offset</key>
                <string>{28,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,139},{418,420}}</string>
                <key>sourceSize</key>
                <string>{666,666}</string>
            </dict>
            <key>201008_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,442},{424,418}}</string>
                <key>offset</key>
                <string>{27,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,141},{424,418}}</string>
                <key>sourceSize</key>
                <string>{666,666}</string>
            </dict>
            <key>201008_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{438,424}}</string>
                <key>offset</key>
                <string>{35,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,135},{438,424}}</string>
                <key>sourceSize</key>
                <string>{666,666}</string>
            </dict>
            <key>201008_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{524,416}}</string>
                <key>offset</key>
                <string>{51,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,143},{524,416}}</string>
                <key>sourceSize</key>
                <string>{666,666}</string>
            </dict>
            <key>201008_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{438,420}}</string>
                <key>offset</key>
                <string>{12,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,139},{438,420}}</string>
                <key>sourceSize</key>
                <string>{666,666}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>201008.pvr.ccz</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad9f9ff42c993d863b2c809743fe78ef:1/1$</string>
            <key>textureFileName</key>
            <string>201008.pvr.ccz</string>
        </dict>
    </dict>
</plist>
