<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heroui_experiencebar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1268},{359,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,34}}</string>
                <key>sourceSize</key>
                <string>{359,34}</string>
            </dict>
            <key>heroui_exprienceframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1095},{369,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,45}}</string>
                <key>sourceSize</key>
                <string>{369,45}</string>
            </dict>
            <key>playui_frame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,706},{374,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,55}}</string>
                <key>sourceSize</key>
                <string>{374,57}</string>
            </dict>
            <key>pubgoodwillui_coin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1200},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>pubgoodwillui_coin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1082},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>pubgoodwillui_coinframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,706},{194,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,194}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>pubgoodwillui_dialogbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1466},{382,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,142}}</string>
                <key>sourceSize</key>
                <string>{382,142}</string>
            </dict>
            <key>pubgoodwillui_icon30X30+.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,749},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>pubgoodwillui_picture.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1233,684}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1233,684}}</string>
                <key>sourceSize</key>
                <string>{1233,684}</string>
            </dict>
            <key>pubgoodwillui_questionmark.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,976},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>pubgoowillui_coin_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1122},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{144,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>pubgoowillui_coin_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1850},{106,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{106,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>pubgoowillui_coin_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,339},{12,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,3},{12,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>pubgoowillui_coin_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1850},{106,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{106,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>pubgoowillui_coin_10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,976},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{144,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>pubgoowillui_coin_10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1318},{106,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{106,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>pubgoowillui_coin_10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,193},{12,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,3},{12,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>pubgoowillui_coin_10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1318},{106,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{106,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>pubui_bigcard_frame_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,193},{180,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,316}}</string>
                <key>sourceSize</key>
                <string>{180,316}</string>
            </dict>
            <key>pubui_bigcard_frame_big_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{189,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,324}}</string>
                <key>sourceSize</key>
                <string>{189,324}</string>
            </dict>
            <key>pubui_bluebar.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,679},{262,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,25}}</string>
                <key>sourceSize</key>
                <string>{262,25}</string>
            </dict>
            <key>pubui_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,902},{187,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,72}}</string>
                <key>sourceSize</key>
                <string>{187,72}</string>
            </dict>
            <key>pubui_greenbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,652},{262,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,25}}</string>
                <key>sourceSize</key>
                <string>{262,25}</string>
            </dict>
            <key>pubui_littlecard_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,425},{171,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,306}}</string>
                <key>sourceSize</key>
                <string>{171,306}</string>
            </dict>
            <key>pubui_orangebar.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,625},{262,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,25}}</string>
                <key>sourceSize</key>
                <string>{262,25}</string>
            </dict>
            <key>pubui_seal.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1318},{128,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,80}}</string>
                <key>sourceSize</key>
                <string>{128,80}</string>
            </dict>
            <key>pubui_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1466},{349,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,86}}</string>
                <key>sourceSize</key>
                <string>{349,86}</string>
            </dict>
            <key>pubui_titleframe_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,375},{312,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,48}}</string>
                <key>sourceSize</key>
                <string>{312,48}</string>
            </dict>
            <key>pubui_titleframe_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,598},{495,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{495,36}}</string>
                <key>sourceSize</key>
                <string>{495,36}</string>
            </dict>
            <key>pubui_violetbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,598},{262,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,25}}</string>
                <key>sourceSize</key>
                <string>{262,25}</string>
            </dict>
            <key>pubui_whitebar.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,485},{262,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,25}}</string>
                <key>sourceSize</key>
                <string>{262,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>travenUI0.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:110f63790c793681e97139ed1b2aa6c4$</string>
            <key>textureFileName</key>
            <string>travenUI0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
