<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7100419_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,549},{648,577}}</string>
                <key>offset</key>
                <string>{11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{648,577}}</string>
                <key>sourceSize</key>
                <string>{670,595}</string>
            </dict>
            <key>7100419_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,515},{636,577}}</string>
                <key>offset</key>
                <string>{17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{636,577}}</string>
                <key>sourceSize</key>
                <string>{670,595}</string>
            </dict>
            <key>7100419_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1128},{630,575}}</string>
                <key>offset</key>
                <string>{20,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{630,575}}</string>
                <key>sourceSize</key>
                <string>{670,595}</string>
            </dict>
            <key>7100419_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,559},{634,571}}</string>
                <key>offset</key>
                <string>{18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,4},{634,571}}</string>
                <key>sourceSize</key>
                <string>{670,595}</string>
            </dict>
            <key>7100419_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{668,545}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{668,545}}</string>
                <key>sourceSize</key>
                <string>{670,595}</string>
            </dict>
            <key>7100419_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{660,555}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{660,555}}</string>
                <key>sourceSize</key>
                <string>{670,595}</string>
            </dict>
            <key>7100419_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,1094},{610,545}}</string>
                <key>offset</key>
                <string>{30,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,16},{610,545}}</string>
                <key>sourceSize</key>
                <string>{670,595}</string>
            </dict>
            <key>7100419_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,2},{646,511}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,50},{646,511}}</string>
                <key>sourceSize</key>
                <string>{670,595}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7100419_2.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42f4000b5032cf97db0aa3665488cc11$</string>
            <key>textureFileName</key>
            <string>7100419_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
