<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7100418_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{648,547}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{648,547}}</string>
                <key>sourceSize</key>
                <string>{670,595}</string>
            </dict>
            <key>7100418_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1112},{620,563}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,22},{620,563}}</string>
                <key>sourceSize</key>
                <string>{670,595}</string>
            </dict>
            <key>7100418_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,567},{630,557}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,22},{630,557}}</string>
                <key>sourceSize</key>
                <string>{670,595}</string>
            </dict>
            <key>7100418_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,543},{634,563}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,21},{634,563}}</string>
                <key>sourceSize</key>
                <string>{670,595}</string>
            </dict>
            <key>7100418_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{668,559}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{668,559}}</string>
                <key>sourceSize</key>
                <string>{670,595}</string>
            </dict>
            <key>7100418_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{660,563}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,21},{660,563}}</string>
                <key>sourceSize</key>
                <string>{670,595}</string>
            </dict>
            <key>7100418_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1108},{610,557}}</string>
                <key>offset</key>
                <string>{27,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,21},{610,557}}</string>
                <key>sourceSize</key>
                <string>{670,595}</string>
            </dict>
            <key>7100418_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,2},{646,539}}</string>
                <key>offset</key>
                <string>{9,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,56},{646,539}}</string>
                <key>sourceSize</key>
                <string>{670,595}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7100418.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0311ab387d78422f20842ea82a43ec32$</string>
            <key>textureFileName</key>
            <string>7100418.pvr.ccz</string>
        </dict>
    </dict>
</plist>
