<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7100418_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1087},{461,347}}</string>
                <key>offset</key>
                <string>{-50,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,181},{461,347}}</string>
                <key>sourceSize</key>
                <string>{591,559}</string>
            </dict>
            <key>7100418_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{465,347}}</string>
                <key>offset</key>
                <string>{-48,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,181},{465,347}}</string>
                <key>sourceSize</key>
                <string>{591,559}</string>
            </dict>
            <key>7100418_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{469,347}}</string>
                <key>offset</key>
                <string>{-46,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,181},{469,347}}</string>
                <key>sourceSize</key>
                <string>{591,559}</string>
            </dict>
            <key>7100418_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,706},{461,375}}</string>
                <key>offset</key>
                <string>{-50,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,153},{461,375}}</string>
                <key>sourceSize</key>
                <string>{591,559}</string>
            </dict>
            <key>7100418_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,1083},{461,349}}</string>
                <key>offset</key>
                <string>{-50,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,179},{461,349}}</string>
                <key>sourceSize</key>
                <string>{591,559}</string>
            </dict>
            <key>7100418_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,351},{465,353}}</string>
                <key>offset</key>
                <string>{-48,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,175},{465,353}}</string>
                <key>sourceSize</key>
                <string>{591,559}</string>
            </dict>
            <key>7100418_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{469,361}}</string>
                <key>offset</key>
                <string>{-46,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,167},{469,361}}</string>
                <key>sourceSize</key>
                <string>{591,559}</string>
            </dict>
            <key>7100418_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{461,371}}</string>
                <key>offset</key>
                <string>{-50,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,157},{461,371}}</string>
                <key>sourceSize</key>
                <string>{591,559}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7100418.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30a97ef036bad83c40f3e040dc6daf1f$</string>
            <key>textureFileName</key>
            <string>7100418.pvr.ccz</string>
        </dict>
    </dict>
</plist>
