<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7100419_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{591,559}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{591,559}}</string>
                <key>sourceSize</key>
                <string>{591,559}</string>
            </dict>
            <key>7100419_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,2},{589,559}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{589,559}}</string>
                <key>sourceSize</key>
                <string>{591,559}</string>
            </dict>
            <key>7100419_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{583,559}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{583,559}}</string>
                <key>sourceSize</key>
                <string>{591,559}</string>
            </dict>
            <key>7100419_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,2},{585,559}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{585,559}}</string>
                <key>sourceSize</key>
                <string>{591,559}</string>
            </dict>
            <key>7100419_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,1148},{459,495}}</string>
                <key>offset</key>
                <string>{-48,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,33},{459,495}}</string>
                <key>sourceSize</key>
                <string>{591,559}</string>
            </dict>
            <key>7100419_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1148},{461,525}}</string>
                <key>offset</key>
                <string>{-42,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,29},{461,525}}</string>
                <key>sourceSize</key>
                <string>{591,559}</string>
            </dict>
            <key>7100419_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,563},{469,391}}</string>
                <key>offset</key>
                <string>{-41,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,137},{469,391}}</string>
                <key>sourceSize</key>
                <string>{591,559}</string>
            </dict>
            <key>7100419_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,1645},{461,397}}</string>
                <key>offset</key>
                <string>{-50,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,131},{461,397}}</string>
                <key>sourceSize</key>
                <string>{591,559}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7100419_2.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98fc1c90f9f2c499a5f6b8abb002f0c8$</string>
            <key>textureFileName</key>
            <string>7100419_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
