<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>creatcharacterui_archer.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,729},{331,81}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,81}}</string>
                <key>sourceSize</key>
                <string>{339,81}</string>
            </dict>
            <key>creatcharacterui_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>creatcharacterui_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,114},{214,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,67}}</string>
                <key>sourceSize</key>
                <string>{214,67}</string>
            </dict>
            <key>creatcharacterui_button_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,45},{214,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,67}}</string>
                <key>sourceSize</key>
                <string>{214,67}</string>
            </dict>
            <key>creatcharacterui_dice.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{55,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,46}}</string>
                <key>sourceSize</key>
                <string>{55,46}</string>
            </dict>
            <key>creatcharacterui_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1361},{480,620}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,620}}</string>
                <key>sourceSize</key>
                <string>{480,620}</string>
            </dict>
            <key>creatcharacterui_master.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,396},{331,81}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,81}}</string>
                <key>sourceSize</key>
                <string>{339,81}</string>
            </dict>
            <key>creatcharacterui_nameframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{244,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,41}}</string>
                <key>sourceSize</key>
                <string>{244,41}</string>
            </dict>
            <key>creatcharacterui_picture_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,788},{119,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{119,192}}</string>
                <key>sourceSize</key>
                <string>{127,198}</string>
            </dict>
            <key>creatcharacterui_picture_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,667},{119,192}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{119,192}}</string>
                <key>sourceSize</key>
                <string>{127,198}</string>
            </dict>
            <key>creatcharacterui_picture_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,546},{119,192}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{119,192}}</string>
                <key>sourceSize</key>
                <string>{127,198}</string>
            </dict>
            <key>creatcharacterui_picture_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,425},{119,192}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{119,192}}</string>
                <key>sourceSize</key>
                <string>{127,198}</string>
            </dict>
            <key>creatcharacterui_picture_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,304},{119,192}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{119,192}}</string>
                <key>sourceSize</key>
                <string>{127,198}</string>
            </dict>
            <key>creatcharacterui_picture_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,183},{119,192}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{119,192}}</string>
                <key>sourceSize</key>
                <string>{127,198}</string>
            </dict>
            <key>creatcharacterui_pictureselect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1248},{111,184}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{111,184}}</string>
                <key>sourceSize</key>
                <string>{127,198}</string>
            </dict>
            <key>creatcharacterui_pictureselect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1248},{111,184}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{111,184}}</string>
                <key>sourceSize</key>
                <string>{127,198}</string>
            </dict>
            <key>creatcharacterui_pictureselect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1135},{111,184}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{111,184}}</string>
                <key>sourceSize</key>
                <string>{127,198}</string>
            </dict>
            <key>creatcharacterui_pictureselect_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1062},{111,184}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{111,184}}</string>
                <key>sourceSize</key>
                <string>{127,198}</string>
            </dict>
            <key>creatcharacterui_pictureselect_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1022},{111,184}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{111,184}}</string>
                <key>sourceSize</key>
                <string>{127,198}</string>
            </dict>
            <key>creatcharacterui_pictureselect_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,909},{111,184}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{111,184}}</string>
                <key>sourceSize</key>
                <string>{127,198}</string>
            </dict>
            <key>creatcharacterui_warrior.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,59},{335,81}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{335,81}}</string>
                <key>sourceSize</key>
                <string>{339,81}</string>
            </dict>
            <key>heroui_dividingline.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,183},{461,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,5}}</string>
                <key>sourceSize</key>
                <string>{461,5}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>createCharacterUI0.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a03ee95e12df2464578b51d00350467$</string>
            <key>textureFileName</key>
            <string>createCharacterUI0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
