<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10005_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{246,498}}</string>
                <key>offset</key>
                <string>{197,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{424,57},{246,498}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>10005_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{256,504}}</string>
                <key>offset</key>
                <string>{192,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,51},{256,504}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>10005_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,518}}</string>
                <key>offset</key>
                <string>{190,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{410,37},{260,518}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10005.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00b415a4ab1e12e1b8c67cfd60e86e80:1/1$</string>
            <key>textureFileName</key>
            <string>10005.pvr.ccz</string>
        </dict>
    </dict>
</plist>
