<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10001_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{520,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,520}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>10001_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{520,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,520}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>10001_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{382,382}}</string>
                <key>offset</key>
                <string>{-31,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,58},{382,382}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10001.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f87b90d18f73266a9acddd1110ee58c9$</string>
            <key>textureFileName</key>
            <string>10001.pvr.ccz</string>
        </dict>
    </dict>
</plist>
