<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dead_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,790},{350,206}}</string>
                <key>offset</key>
                <string>{0,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,243},{350,206}}</string>
                <key>sourceSize</key>
                <string>{350,450}</string>
            </dict>
            <key>dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{350,204}}</string>
                <key>offset</key>
                <string>{0,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,245},{350,204}}</string>
                <key>sourceSize</key>
                <string>{350,450}</string>
            </dict>
            <key>dead_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,372},{344,204}}</string>
                <key>offset</key>
                <string>{3,-121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,244},{344,204}}</string>
                <key>sourceSize</key>
                <string>{350,450}</string>
            </dict>
            <key>dead_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{340,210}}</string>
                <key>offset</key>
                <string>{5,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,235},{340,210}}</string>
                <key>sourceSize</key>
                <string>{350,450}</string>
            </dict>
            <key>dead_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,208},{344,290}}</string>
                <key>offset</key>
                <string>{3,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,152},{344,290}}</string>
                <key>sourceSize</key>
                <string>{350,450}</string>
            </dict>
            <key>dead_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{348,368}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,64},{348,368}}</string>
                <key>sourceSize</key>
                <string>{350,450}</string>
            </dict>
            <key>dead_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{350,384}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,45},{350,384}}</string>
                <key>sourceSize</key>
                <string>{350,450}</string>
            </dict>
            <key>dead_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,400}}</string>
                <key>offset</key>
                <string>{-9,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{288,400}}</string>
                <key>sourceSize</key>
                <string>{350,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dead1.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:100a1906726c9be39bcfd9ef455f387d:2/2$</string>
            <key>textureFileName</key>
            <string>dead1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
