<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dead_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,794},{342,210}}</string>
                <key>offset</key>
                <string>{4,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,239},{342,210}}</string>
                <key>sourceSize</key>
                <string>{350,450}</string>
            </dict>
            <key>dead_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,558},{342,234}}</string>
                <key>offset</key>
                <string>{4,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,210},{342,234}}</string>
                <key>sourceSize</key>
                <string>{350,450}</string>
            </dict>
            <key>dead_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,304},{342,252}}</string>
                <key>offset</key>
                <string>{4,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,193},{342,252}}</string>
                <key>sourceSize</key>
                <string>{350,450}</string>
            </dict>
            <key>dead_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{342,300}}</string>
                <key>offset</key>
                <string>{4,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,135},{342,300}}</string>
                <key>sourceSize</key>
                <string>{350,450}</string>
            </dict>
            <key>dead_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{346,324}}</string>
                <key>offset</key>
                <string>{2,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,110},{346,324}}</string>
                <key>sourceSize</key>
                <string>{350,450}</string>
            </dict>
            <key>dead_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,426},{344,412}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{344,412}}</string>
                <key>sourceSize</key>
                <string>{350,450}</string>
            </dict>
            <key>dead_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{338,422}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{338,422}}</string>
                <key>sourceSize</key>
                <string>{350,450}</string>
            </dict>
            <key>dead_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{330,416}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{330,416}}</string>
                <key>sourceSize</key>
                <string>{350,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dead0.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:100a1906726c9be39bcfd9ef455f387d:1/2$</string>
            <key>textureFileName</key>
            <string>dead0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
