<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>300011front1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{938,720}}</string>
                <key>offset</key>
                <string>{156,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{327,0},{938,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>300011front2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1008,720}}</string>
                <key>offset</key>
                <string>{74,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,0},{1008,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>300011front3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1446},{544,224}}</string>
                <key>offset</key>
                <string>{-61,-248}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{307,496},{544,224}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>300011front.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1105b8f68df120856ef4a314e11391f2:1/1$</string>
            <key>textureFileName</key>
            <string>300011front.pvr.ccz</string>
        </dict>
    </dict>
</plist>
