<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20001_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,114},{18,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>20001_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,116},{14,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{14,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>20001_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1010},{12,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{12,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>20001_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,94},{18,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>20001_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1012},{10,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{10,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>20001_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,94},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>20002_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,957},{53,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{53,24}}</string>
                <key>sourceSize</key>
                <string>{59,30}</string>
            </dict>
            <key>20002_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,957},{53,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{53,26}}</string>
                <key>sourceSize</key>
                <string>{59,30}</string>
            </dict>
            <key>20002_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,94},{47,28}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{47,28}}</string>
                <key>sourceSize</key>
                <string>{59,30}</string>
            </dict>
            <key>20002_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,32},{51,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{51,28}}</string>
                <key>sourceSize</key>
                <string>{59,30}</string>
            </dict>
            <key>20002_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,62},{49,30}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,30}}</string>
                <key>sourceSize</key>
                <string>{59,30}</string>
            </dict>
            <key>20002_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,2},{51,28}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{51,28}}</string>
                <key>sourceSize</key>
                <string>{59,30}</string>
            </dict>
            <key>20002_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,2},{51,28}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{51,28}}</string>
                <key>sourceSize</key>
                <string>{59,30}</string>
            </dict>
            <key>20002_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,957},{53,28}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,28}}</string>
                <key>sourceSize</key>
                <string>{59,30}</string>
            </dict>
            <key>20002_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,64},{47,28}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{47,28}}</string>
                <key>sourceSize</key>
                <string>{59,30}</string>
            </dict>
            <key>20002_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,957},{51,28}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{51,28}}</string>
                <key>sourceSize</key>
                <string>{59,30}</string>
            </dict>
            <key>20002_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,32},{49,30}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,30}}</string>
                <key>sourceSize</key>
                <string>{59,30}</string>
            </dict>
            <key>20002_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,957},{53,28}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{53,28}}</string>
                <key>sourceSize</key>
                <string>{59,30}</string>
            </dict>
            <key>20003_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,274},{164,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{164,175}}</string>
                <key>sourceSize</key>
                <string>{166,175}</string>
            </dict>
            <key>20003_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,309},{162,175}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{162,175}}</string>
                <key>sourceSize</key>
                <string>{166,175}</string>
            </dict>
            <key>20003_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,280},{166,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,175}}</string>
                <key>sourceSize</key>
                <string>{166,175}</string>
            </dict>
            <key>20003_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,141},{166,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,175}}</string>
                <key>sourceSize</key>
                <string>{166,175}</string>
            </dict>
            <key>20003_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,276},{166,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,175}}</string>
                <key>sourceSize</key>
                <string>{166,175}</string>
            </dict>
            <key>20003_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,444},{164,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{164,175}}</string>
                <key>sourceSize</key>
                <string>{166,175}</string>
            </dict>
            <key>20004_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,141},{133,189}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,189}}</string>
                <key>sourceSize</key>
                <string>{137,189}</string>
            </dict>
            <key>20004_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,139},{133,189}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,189}}</string>
                <key>sourceSize</key>
                <string>{137,189}</string>
            </dict>
            <key>20004_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{137,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,189}}</string>
                <key>sourceSize</key>
                <string>{137,189}</string>
            </dict>
            <key>20004_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{137,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,189}}</string>
                <key>sourceSize</key>
                <string>{137,189}</string>
            </dict>
            <key>20004_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{137,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,189}}</string>
                <key>sourceSize</key>
                <string>{137,189}</string>
            </dict>
            <key>20004_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,141},{137,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{137,187}}</string>
                <key>sourceSize</key>
                <string>{137,189}</string>
            </dict>
            <key>20004_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{137,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,189}}</string>
                <key>sourceSize</key>
                <string>{137,189}</string>
            </dict>
            <key>20004_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,575},{137,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,189}}</string>
                <key>sourceSize</key>
                <string>{137,189}</string>
            </dict>
            <key>20004_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{137,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,189}}</string>
                <key>sourceSize</key>
                <string>{137,189}</string>
            </dict>
            <key>20004_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{137,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,189}}</string>
                <key>sourceSize</key>
                <string>{137,189}</string>
            </dict>
            <key>20004_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{137,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,189}}</string>
                <key>sourceSize</key>
                <string>{137,189}</string>
            </dict>
            <key>20004_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,2},{135,189}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,189}}</string>
                <key>sourceSize</key>
                <string>{137,189}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainCityEffect.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d03e7e1c719bec145c167551d7ffcf3$</string>
            <key>textureFileName</key>
            <string>mainCityEffect.pvr.ccz</string>
        </dict>
    </dict>
</plist>
