<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EWui_frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,1569},{436,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,74}}</string>
                <key>sourceSize</key>
                <string>{436,74}</string>
            </dict>
            <key>EWui_frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,648},{431,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,48}}</string>
                <key>sourceSize</key>
                <string>{431,48}</string>
            </dict>
            <key>HAui_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,2007},{48,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,37}}</string>
                <key>sourceSize</key>
                <string>{48,37}</string>
            </dict>
            <key>HAui_bigarrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,726},{76,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,60}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>HIui_frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1569},{473,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,384}}</string>
                <key>sourceSize</key>
                <string>{473,384}</string>
            </dict>
            <key>HIui_frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,1569},{449,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,59}}</string>
                <key>sourceSize</key>
                <string>{449,59}</string>
            </dict>
            <key>HIui_frame_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1569},{456,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,370}}</string>
                <key>sourceSize</key>
                <string>{456,370}</string>
            </dict>
            <key>HIui_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2003,716},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>HIui_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2003,674},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>HIui_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2004,632},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>HIui_icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2004,590},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>HIui_icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2004,548},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>SEui_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1569},{473,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,314}}</string>
                <key>sourceSize</key>
                <string>{473,314}</string>
            </dict>
            <key>SEui_frame_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,17},{456,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,298}}</string>
                <key>sourceSize</key>
                <string>{456,298}</string>
            </dict>
            <key>heroskill_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,707},{437,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,136}}</string>
                <key>sourceSize</key>
                <string>{437,136}</string>
            </dict>
            <key>heroskill_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1132},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>heroskill_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1100},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>heroui_classframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1985,475},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>heroui_dividingline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2041,17},{461,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,5}}</string>
                <key>sourceSize</key>
                <string>{461,5}</string>
            </dict>
            <key>heroui_experiencebar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,707},{359,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,34}}</string>
                <key>sourceSize</key>
                <string>{359,34}</string>
            </dict>
            <key>heroui_exprienceframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1164},{369,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,45}}</string>
                <key>sourceSize</key>
                <string>{369,45}</string>
            </dict>
            <key>heroui_frame_background_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,2},{480,627}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,627}}</string>
                <key>sourceSize</key>
                <string>{480,627}</string>
            </dict>
            <key>heroui_frame_fighting.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,648},{389,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,57}}</string>
                <key>sourceSize</key>
                <string>{389,57}</string>
            </dict>
            <key>heroui_icon_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,648},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>heroui_icon_belt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,548},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>heroui_icon_clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,548},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>heroui_icon_diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{55,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,50}}</string>
                <key>sourceSize</key>
                <string>{55,50}</string>
            </dict>
            <key>heroui_icon_gloves.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,548},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>heroui_icon_ornaments.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,638},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>heroui_icon_shoes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,638},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>heroui_icon_weapons.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,648},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>heroui_littleplus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1068},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>heroui_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,726},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>heroui_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,638},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>theheroui_expriencebar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,2},{302,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,13}}</string>
                <key>sourceSize</key>
                <string>{302,13}</string>
            </dict>
            <key>theheroui_expriencframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,531},{306,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,15}}</string>
                <key>sourceSize</key>
                <string>{306,15}</string>
            </dict>
            <key>theheroui_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1108,644}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{1108,644}}</string>
                <key>sourceSize</key>
                <string>{1120,654}</string>
            </dict>
            <key>theheroui_frame_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,484},{1083,620}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{1083,620}}</string>
                <key>sourceSize</key>
                <string>{1095,630}</string>
            </dict>
            <key>theheroui_frame_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1569},{453,137}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{453,137}}</string>
                <key>sourceSize</key>
                <string>{489,163}</string>
            </dict>
            <key>theheroui_frame_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,475},{242,41}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{242,41}}</string>
                <key>sourceSize</key>
                <string>{268,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroUI0.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5df616304d33a6e24619ce551e10de3$</string>
            <key>textureFileName</key>
            <string>heroUI0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
